modules = ["nodejs-20", "web"]
run = "npm run dev"
[nix]
packages = ["unzipNLS"]
channel = "stable-25_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 46131723
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[deployment]
run = ["sh", "-c", "npm run dev"]
